@import "../../style/mixins/text";
@import "../../style/mixins/image";
@import "../../style/index";
@import "../../style/common/buttons";

.why-us {
  max-width: 1440px;
  height: 757px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;

  &__block {
    z-index: 1;
    padding-left: 200px;

    @include b('desktop') {
      display: none;
    }
    h2 {
      font-family: TTNorms, sans-serif;
      font-style: normal;
      font-weight: 800;
      font-size: 50px;
      line-height: 60px;
      max-width: 550px;
      text-transform: uppercase;
      padding-bottom: 37px;

      @include b('tablet') {
        font-size: 40px;
        line-height: 40px;
        text-align: center;
      }

      @include b('350') {
        font-size: 32px;
        line-height: 32px;
      }

      span {
        color: #DC2C2C;
      }
    }

    h3 {
      font-family: TTCommons, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 30px;
      max-width: 500px;

      @include b('tablet') {
        font-size: 22px;
        line-height: 25px;
        text-align: center;
      }

      @include b('350') {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }

  &__img {
    display: flex;
    position: absolute;
    &_1 {
      height: 757px;
      object-fit: none;
      @include b('tablet') {
        height: 600px;
      }
    }

    &_2 {
      position: absolute;
      right: 107px;
      z-index: 1;
      top: 67px;

      @include b('tablet') {
        right: 0;
        top: -51px;
      }
    }
  }
}